.cards{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 4rem;
  overflow-x: scroll;
}

.cards::-webkit-scrollbar{
  display: none;
}


.exp{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

/* text-align: center; */
margin: 4rem 4rem -1rem;
color: #222222;
display: block;
}

@media screen and (max-width: 460px) {
  .cards{
    margin: 2rem 4vw;
  }

  .exp{
    font-size: 5vw;
    margin: 0rem 4vw -1rem;
    padding: 15rem 0 0;
  }
}

@media screen and (min-width: 541px) and ( max-width: 640px) {
  
  .exp{
    padding: 28rem 0 0 0;
    margin: 0 1rem -1rem;
    
  }
  .cards{
    margin: 2rem 1rem;
  }
}

@media screen and (min-width: 461px) and ( max-width: 540px) {
  
  .exp{
  margin: 0 1rem -1rem;
  padding: 21rem 0 0 0;

}

.cards{
  margin: 2rem 1rem;
}

}

