.more-than-a-woman{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin:  4rem;
}
.more-than-a-woman img{
    border-radius: 30px;
    flex: 30%;
    display: flex;
    width: 35%;
    /* height: 100%; */
}

.read{
    
font-family: 'Garamond';
font-style: normal;
font-weight: 400;
font-size: 4vw;
line-height: 95%;
/* margin: 0 0 4.8rem; */
}

.from{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
line-height: 28px;

}

.more-than-a-woman button{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 23px; */
    /* identical to box height */
    
    text-align: center;
    
    color: #173003;
    
    padding: 20px 48px;
    /* margin: 4.8rem 0 auto; */
    border: none;
    
    background: #CBF86D;
    border-radius: 40px;
}

.more-than-a-woman > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    /* flex: 65%; */
}


.section-two{
    display: flex;
    gap: 2rem;
    margin:  4rem;
}

.atom-two{
    max-width: 30vw;
}

.atom-stretch{
    font-family: 'Garamond';
font-style: normal;
font-weight: 400;
font-size: 3.5vw;
line-height: 3.5vw;
/* text-align: center; */

color: #222222;
}

.designed{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 2vw;
line-height: 2.5vw;
margin: 3rem 0;
width: 100%;
/* or 140% */


color: #222222;
}

.mini-grid{
    justify-content: space-around;
    gap: 5%;
    display: flex;
    margin: 0 3rem;
    scroll-behavior: smooth;
    /* overflow: auto; */
}

.grid-box{
    min-width: 60%;
    max-width: 80%;
    /* max-height: 386px; */
    padding: 8% 0 3%;
    background: #F3F3F3;
    border-radius: 24px;
}
.grid-box > img{
    /* padding: 20% 0 5% 0; */
    margin: 0 auto;
    display: flex;
    width: 60%;
    cursor: pointer;
}
.grid-box > div > p{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 2vw;
line-height: 3vw;
color: #222222;
}

.grid-box > div > div{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
line-height: 20px;
/* identical to box height, or 125% */

/* text-align: center; */

color: #6A6A6A;
display: flex;
gap: 70%;
width: 100%;

}

.grid-box > div{
    margin: 0 2rem;
}
.grid-box1 > img{
    padding: 7% 0 11% 0;
}

.grid-box1 > div > div{
    gap: 45%;
}



@media screen and (max-width: 640px) {
    .section-two{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 4rem 4vw;
        /* overflow-x: scroll; */
        /* justify-content: space-around; */
        /* align-items: center; */
    }

    .grid-box{
        width: 315px;
        /* height: 316px; */
        justify-content: space-around;
        align-items: baseline;
        flex-direction: column;
    }

    .atom-two{
        max-width: 100%;
      
    }
    .grid-box img{
        width: 100%;

    }

    .atom-stretch{
           font-size: 9.5vw; 
           line-height: 10vw;
           width: 100%;
    }

    .designed{
        font-size: 6.7vw;
        line-height: 7vw;
    }

    .mini-grid{
        /* width: 150%; */
        overflow-x: scroll;
        justify-content: flex-start;
        margin: 0;
    }

    .mini-grid::-webkit-scrollbar{
        display: none;
    }

    .grid-box > div > p{
        font-size: 16px;
    }
    .grid-box2 > img{
        width: 83%;
    }

    
    .grid-box > div > div{
        font-size: 13px;
        word-wrap: normal;
    }


    .more-than-a-woman{
        display: block;
        margin: 4rem 4vw;
    }
    .more-than-a-woman > img{
        width: 100%;
    }
    
    .read{
        font-size: 5vw;
        margin: 1rem 1vw;
        text-align: justify;

    }

    .from{
        font-size: 3vw;
        margin: 0rem 1vw;
    }

    .more-than-a-woman > div > button{
        margin: 0 auto;
    }


    


}