footer{
    background: #000;
    color: #fff;
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
padding: 0 6vw;
}

.logo-footer{
    font-size: 40px;
    padding: 3rem 0;
}


.footer-grid{
    display: grid;
    flex-direction: row;
    grid-template-columns: 30vw 11vw 11vw 11vw 8vw;
    gap: 3vw;
    flex-wrap: wrap;
    /* align-content: center; */
    align-items:flex-start;
    align-content: flex-start;
}

.footer-grid > div{
    gap: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.footer-grid > div > p{
    flex-wrap: nowrap;
    display: flex;
}


.first-grid p{
    margin-bottom: 2rem;
}

input{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 48px 16px 30px;
gap: 10px;
color: #fff;
width: 100%;
height: 48px;
position: relative;
border: 1px solid #FFFFFF;
border-radius: 50px;
font-family: 'Helvetica';

font-size: 16px;
background-color: #000;
outline: 0;
}


input::placeholder{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
}

input::selection{
    color: #00c2f8;
}
form{
    position: relative;
}
.fa-solid{
    
    position: absolute;
    /* margin-left: 16.7rem; */
    right: 0.4rem;
    cursor: pointer;
    margin-top: -2.50rem;
}
.subgrid{
    display: flex;
    gap: 1.3vw;
    align-items: center;
}

.fifth-grid{
    justify-items: center;
    display: block;
    margin-top: 4rem;
}





.big{
    font-size: 20px;
    padding: 0 0 2rem;
}





.second-grid, .third-grid, .fourth-grid, .fifth-grid{
    line-height: 1.3rem;
    display: flex;
}

.last-child{
    display: flex;
    padding: 2rem 0 1.5rem;
    gap: 1rem;
    flex-wrap: nowrap;
    font-size: 1.4vw;
}

.last-child p{
    display: flex;
    flex-wrap: nowrap;
}

 .second-grid p, .third-grid p, .fourth-grid p, .fifth-grid p{
    cursor: pointer;
}

footer svg{
    cursor: pointer;
}




@media screen and (max-width: 1040px) {
    .footer-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 17vw;
        justify-content: space-around;

    }

    .first-grid{
        width: 80vw;
    }

    

}

@media screen and (max-width: 780px) {
    .last-child{
        font-size: 2vw;
    }
    
}
