.tag{
    content: "Top Seller";
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 250% */
    text-align: center;
    color: #222222;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 7;
}

.onee{
    width: 250px;
    height: 320px;
    /* display: flex;
    flex-direction: column; */
    padding: 2rem 0;
    background: #F1F1F1;
    border-radius: 24px;
    position: relative;

}

.onee > img{
    /* width: 100%; */
    display: flex;
    margin:3rem auto 1rem;
    width: 190px;
height: 106px;
}

.descriptionn{
    display: flex;
    gap: 8.7rem;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0 1rem;
    /* identical to box height, or 125% */
    
    text-align: center;
    
    color: #6A6A6A;
    display: flex;
    padding: 0 1rem;
    display: flex;
}
.nameModel{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    padding: 0 1rem 2.2rem;
}

