


.width{
    width: 100%;
}

.everyday{
    

font-size: 32px;


}
.common{
    color: #222222;
    text-align: center;
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
margin: 1rem 0 ;
}

.link{
    
font-size: 20px;

}

.insta{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    margin: 0 3rem 5rem;
    gap: 1vw;
}

.insta img{
    width: 21%;

    max-height: 190px;
    border-radius: 24px;
}



@media screen and (max-width: 840px) {
    .insta img{
        width: 20rem;
    }

    .insta{
        overflow-x: scroll;
        justify-content: flex-start;
        gap: 1rem;
        scroll-behavior: smooth;
        margin: 0 5vw 5rem;
    }

    .insta::-webkit-scrollbar{
        display: none;
    }
}
