.description{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

text-align: center;

color: #6A6A6A;
display: flex;
padding: 0 1rem;
display: flex;
gap: 70.4%;
/* justify-content: space-between; */
}



.one{
    width: 28vw;
    /* height: 57vh; */
    height: 100%;

background: #F1F1F1;
border-radius: 24px;
padding: 3vw ;
position: relative;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
}
.one::before{
    content: "New";
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 20px;
gap: 10px;
background: #FFFFFF;
border-radius: 30px;
width: fit-content;
height: 40px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
text-align: center;
color: #222222;
position: absolute;
top: 1.5rem;
left: 1.5rem;
}


.one img{
    width: 100%;
    height: 10vw;
    display: flex;
    margin:3rem auto 2rem;
}
.name-model{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 40px;
    padding: 0 1rem;
}


@media screen and (max-width: 480px) {
    .one{
        width: 71vw;
        height: 20rem;
    }
    .one > img{
        width: 15rem;
        height: 8rem;

        margin: 5rem auto 1rem;
    }


    .one::before{
        font-size: 3.5vw;
    }

    .name-model{
        font-size: 19px;
    }
}

@media screen and (min-width: 500px) {
    .one{
        width: 100%;
        height: 19rem;
    }
    .one > img{
        width: 11rem;
        height: 6rem;

        margin: 5rem 2rem 1rem;
    }


    

    .name-model{
        font-size: 19px;
    }
}

@media screen and (max-width: 1040px) {

    .one{
        width: 17rem;
    }
}